.footer {
  background: #07111f;
  padding: 0 8% 60px;
  color: white;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 40px 30px;

  background: rgba(255, 255, 255, 0.03);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;

  border-radius: 12px;
}

.footer-brand,
.footer-contact,
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-brand h2 {
  color: #64ffda;
  font-size: 2rem;
  margin-bottom: 15px;
}

.footer-brand p {
  color: #c8d0df;
  margin-bottom: 10px;
  line-height: 1.7;
}

.footer-brand span {
  color: #8a94a6;
  line-height: 1.8;
}

.footer-contact h3,
.footer-links h3 {
  color: #64ffda;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.footer-contact p,
.footer-links a {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #c8d0df;
  text-decoration: none;

  margin-bottom: 18px;

  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #64ffda;
  transform: translateX(5px);
}

.footer-bottom {
  margin-top: 35px;
  padding-top: 25px;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  text-align: center;
}

.footer-bottom p {
  color: #8a94a6;
  margin-bottom: 8px;
}

.footer-bottom span {
  color: #6f7b91;
  font-size: 0.9rem;
}

/* Tablet */

@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .footer {
    padding: 0 5% 50px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 35px 25px;
    text-align: center;
  }

  .footer-contact p,
  .footer-links a {
    justify-content: center;
  }

  .footer-brand h2 {
    font-size: 1.7rem;
  }
}